
<h3 style="text-align:center;">What is this wizardly magic? An awesome bookstore? </h3>
<h2 style="text-align:center;">Quick - call YCombinator! Google Ventures already bought 10%</h2>

<body>
<h1 style="text-align:center;">Super Awesome Bookstore</h1>
</body>

<hr>


<p>
<table>
  <tr>
    <th width=400><strong>Available Titles</strong></th>
    <th width=200><strong>Average Star Rating</strong></th>
  </tr>
  <% Book.read.each do |book| %>
  <% book_review = Review.where("book_id" => book.id) %>
  <tr>
    <td><%= link_to book["title"], "/books/#{book["id"]}" %></td>
    <td>
      <% if book_review.present? %>
        <%= book_review.average("stars") %>
        <% else %>
        No ratings yet.
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
</p>
