<h1> book list </h1>

<table border="15" style="width:300px">

<ul>
<% all_books = Book.read %>
  <thead>
    <tr>
    <th> title </th>
    <th> author </th>
    </tr>
    </thead>

<% all_books.each do |book| %>


    <tr>
    <td> <%= book["title"] %> </td>
    <td> <%= book["author"] %> </td>
    </tr>


<% end %>
</ul>

</table>d
